__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

myenv/
venv/
env/
ENV/
*.env
*.venv

*.log

db.sqlite3

local_settings.py

*.tmp
*.swp
*.swo

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db

staticfiles/
media/
